.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* z-index: 20; */
    background-color: rgba(0, 0, 0, 0.9);
}

.modal {
    position: fixed;
    width: 90%;
    left: 5%;
    height: 245px;
    top: calc((100vh - 245px) / 2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    /* z-index: 30; */
    animation: slide-down 300ms ease-out forwards;
}

.modal .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
}

@media (min-width: 768px) {
    .modal {
        width: 600px;
        left: calc((100vw - 600px) / 2);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}